<!-- Button trigger modal -->
<button type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#staticBackdrop">
  Editar contraseña
</button>

<!-- Modal -->
<div class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">
          Editar contraseña
        </h5>
        <button type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close">

        </button>
      </div>
      <div class="modal-body">
        <form action="{{path("user_editar")}}" method="post">
          <div class="mb-3 input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">
              <i class="fa fa-lock" aria-hidden="true"></i>
            </span>
            <input type="password"
              id="password"
              placeholder="Password"
              class="form-control"
              name="_password"
               />
          </div>
          {# <div class="mb-4 input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">
              <i class="fa fa-lock" aria-hidden="true"></i>
            </span>
            <input type="password"
              id="password2"
              placeholder="Repite..."
              class="form-control"
              name="_password2" />
          </div> #}
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button class="btn btn-primary" type="submit">Confirmar</button>
      </div>
      </form>
    </div>
  </div>
</div>
